body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url('../assets/images/bg.jpg') center/cover no-repeat;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

.btn-romantic {
  background-color: #ff4d6d;
  color: white;
  border: none;
}

.btn-romantic:hover {
  background-color: #ff1e4d;
}

.memory-card {
  background: #ff4d6d;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s;
}

.memory-card:hover {
  transform: scale(1.05);
  background: #ff7777;
}

.memory-card h4 span {
  font-size: 60px;
  margin-bottom: 10px;
}


.heart {
  position: fixed;
  top: -10px;
  color: #ff4d6d;
  animation: fall linear forwards;
  font-size: 50px;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

#stars {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
}


.chat-box {
  background: #111;
  height: 300px;
  overflow-y: auto;
}

.message {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 15px;
  max-width: 70%;
}

.sent {
  background: #ff4d6d;
  margin-left: auto;
}

.received {
  background: #333;
}

#slideImage, #slideVideo {
  transition: opacity 1s ease;
}

.slideshow-container {
  max-width: 450px;
  margin: 0 auto;          /* center horizontally */
  position: relative;
  text-align: center;
}

.slideshow-container img,
.slideshow-container video {
  width: 100%;
  border-radius: 12px;
}


